#navbarDropdown {
  color: rgb(202, 202, 202);
}

.navbar {
  position: relative;

  padding: 0.5rem 1rem;
}

.nav-item {
  justify-content: left !important;
}

.nav-icon {
  color: rgb(202, 202, 202);
}

.items-start {
  position: relative;
  left: 400px;
}

.items-end {
  position: relative;
  right: 400px;
}

.highlights {
  font-weight: bold;
  position: absolute;
  left: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}
