body {
    background-color: #D8D8D8!important;
}

#navbarDropdown {
  color: rgb(202, 202, 202);
}

.navbar {
  position: relative;

  padding: 0.5rem 1rem;
}

.nav-item {
  justify-content: left !important;
}

.nav-icon {
  color: rgb(202, 202, 202);
}

.items-start {
  position: relative;
  left: 400px;
}

.items-end {
  position: relative;
  right: 400px;
}

.highlights {
  font-weight: bold;
  position: absolute;
  left: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel {
  position: absolute;
  top: 70px;
}

.navicon {
    color: color: rgb(202, 202, 202);
}

.carouselimg {
    position: relative;
    left: 400px;
    max-width: 1050px;
}

.carousel-control-prev {
    margin-left: 200px;
}
.carousel-control-next {
    margin-right: 200px;
}

.carousel-indicators {
    bottom: -47px!important;
}

.carousel-caption {
    position: absolute;
    right:45%!important;
    bottom: -05px!important;
    left: 15%!important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carouselTitles {
    color: black;
}

.carouselTitlesWhite {
    color: white;
}

.gameSuggestions {
    position: relative;
    top:100px;
    left: 50px;
}

.col-sm-3 {
  position: relative;
  left: 10px;
}

.hrTop {
    max-width: 1050px;
    position: relative;
    margin-right: 70px;
    top:2px;
}

.pageBreakText {
    position: relative;
    top: 85px;
    left: 80px;
}


.container  {
    max-width: 1116px!important;
}

hr {
    position: relative;
    top: 90px;
    max-width: 1050px;
    margin-right: 70px;
}

.recommended {
    position: relative;
    top: 80px;
}

.sale {
    top: 70px;
}

.onsale {
  position: relative;
  top: 135px;
  left: 40px;
}
.hrRecom {
 position: relative;
 top: 1px;
}

.tiles {
    position: relative;
    margin-top: 10px;
}

.card-img-tiles {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    left:45px;
    position: relative;
    top: 80px;
}